[user]
        name = Gez Page
        email = gezpage@gmail.com
[web]
        browser = google-chrome
[color]
        branch = auto
        diff = auto
        status = auto
[color "branch"]
        current = yellow reverse
        local = yellow 
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[init]
	templatedir = ~/.git_template
