[submodule "modules/geeknote"]
	path = modules/geeknote
	url = git://github.com/VitaliyRodnenko/geeknote.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".git_template"]
	path = .git_template
	url = git@github.com:gezpage/git_template.git
[submodule ".tmux-config"]
	path = .tmux-config
	url = git@github.com:gezpage/tmux-config.git
